ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background-color: azure;
  }

  a {
    text-decoration: none;
    padding: 2rem;
    color: rgb(113, 112, 111);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(97, 15, 15);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:gray;
  }
  
  .active {
    background-color: rgb(197, 227, 198);
  }